<link rel="stylesheet" type="text/css" href="/css/addForm.css">
<h3>ADD New Hobbie</h3>
<form action="add-hobbie" method="POST">
    <div>
    <label for="hobbie">Hobbie:</label>
    <input type="text" name="hobbie" id="hobbie">
    </div>
    <button>ADD Hobbie</button>
</form>