<link rel="stylesheet" type="text/css" href="/css/calenderView.css">
<ul>
    <% for(let i of hobbieList){ %>
    <li>	
        <h3 class="hobbie-head"><%= i.name %></h3>
          <div class="days">
            <!-- new Date(Date.now()).toLocaleString(); -->
                 <form>
                     <div class="date-container">01-02-03</div>
                     <div><spna>Status:</spna><span class="status-view">None</span></div>
                     <hr>
                     <div class="update-section">
                         <label>Update Status:</label>
                    <select id="status" name="status">
                        <option>None</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                     </div>
                     <button>Update Status</button>
                 </form>
                 <form>
                     <div class="date-container">01-02-03</div>
                     <div><spna>Status:</spna><span class="status-view">None</span></div>
                     <hr>
                     <div class="update-section">
                         <label>Update Status:</label>
                    <select id="status" name="status">
                        <option>None</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                     </div>
                     <button>Update Status</button>
                 </form>
                 <form>
                     <div class="date-container">01-02-03</div>
                     <div><spna>Status:</spna><span class="status-view">None</span></div>
                     <hr>
                     <div class="update-section">
                         <label>Update Status:</label>
                    <select id="status" name="status">
                        <option>None</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                     </div>
                     <button>Update Status</button>
                 </form>
                 <form>
                     <div class="date-container">01-02-03</div>
                     <div><spna>Status:</spna><span class="status-view">None</span></div>
                     <hr>
                     <div class="update-section">
                         <label>Update Status:</label>
                    <select id="status" name="status">
                        <option>None</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                     </div>
                     <button>Update Status</button>
                 </form>
                 <form>
                     <div class="date-container">01-02-03</div>
                     <div><spna>Status:</spna><span class="status-view">None</span></div>
                     <hr>
                     <div class="update-section">
                         <label>Update Status:</label>
                    <select id="status" name="status">
                        <option>None</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                     </div>
                     <button>Update Status</button>
                 </form>
                 <form>
                     <div class="date-container">01-02-03</div>
                     <div><spna>Status:</spna><span class="status-view">None</span></div>
                     <hr>
                     <div class="update-section">
                         <label>Update Status:</label>
                    <select id="status" name="status">
                        <option>None</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                     </div>
                     <button>Update Status</button>
                 </form>
             </div>
    </li>
    <% } %>
    </ul>